/* 
    Author     : Michael Bejaniance
*/

body{
    background-image: url("http://www.mrwallpaper.com/wallpapers/gradient-background.jpg")
    
}

.scrabbleTile {
    margin-right: 20px;
    width:100px;
    height:100px;

}

.lineTile {
    width:100px;
    height:100px;
}

#rackDiv {
    position: relative;
}

#rack {
    width:1140px;
    height:240px;
}

#playerRack {
    position: absolute;
    bottom: 45px;
    left: 75px;
}

img {
    margin-left:5px;
    margin-right:5px;
}
